extends layout.pug

block content
  head
      title Books
      link(rel='stylesheet' ,href='/static/stylesheets/style.css')
      meta(name="viewport",content="width=device-width, initial-scale=1.0")
  body.search 
    h1 Search results for #{searchquery}
      - var n = 1;
      - var query = "cheese";
      div.search
        form(method="get" action=`/books/page/1`)
          input(name="searchquery", type="text") 
          input(type="submit" value="Search Books")
          a.button(href='/books/new') Create New Book  
      table
        thead
          tr
            th Title
            th Author
            th Genre
            th Year
        tbody
        each book in books
          tr
            td
              a(href=`/books/${book.id}`) 
                =book.title
            td= book.author
            td= book.genre
            td= book.year
      - var n = 0;
    ul.pages
      while n < pages
        li
          p
            a(href=`/books/page/${n+=1}/?searchquery=${searchquery}` class="button") #{n}
    p
        a.button(href='/') Back to Homepage      